body {
  font-size: 14px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  background-color: #fff;
  color: #4d5156;
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
}
select,
button,
input[type=submit],
input[type=button] {
  height: 100%;
  min-height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
select,
button,
textarea,
input {
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=button]:disabled {
  opacity: 0.5;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
}
textarea,
input[type=text],
input[type=number] {
  padding: 5px;
  outline: none;
}
textarea:focus,
input[type=text]:focus,
input[type=number]:focus {
  background-color: #e5f8ff;
}
a,
a:visited {
  color: #07c;
}
code {
  font-size: 10px;
  color: #999;
}
hr {
  border: none;
  border-top: dashed 1px #ccc;
  margin: 15px 0;
}

#check {
  width: 100px;
}
.note {
  font-size: 90%;
  color: ##909090;
}
#status {
  color: #0091ff;
}

.three {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  white-space: nowrap;
  align-items: center;
  grid-gap: 5px;
}
