* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Font Awesome 5 Free', Helvetica, Arial, sans-serif;
    font-size: 10px;
    min-height: 0;
    color: rgb(177, 255, 146);
}

window#waybar {
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(20, 20, 20);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: rgb(0, 0, 0);
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#window {
}

#workspaces button {
    padding: 0 10px;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 1px solid #ffffff;
}

#workspaces button.focused {
    border-bottom: 1px solid #ffffff;
}

#workspaces button.urgent {
    background: rgb(80, 37, 37);
    border-left: 1px solid #7a3230;
    border-right: 1px solid #7a3230;
}

#mode {
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-snip {
    padding: 0 10px;
    background: #000000;
    border-left: 1px solid rgb(41, 41, 41);
}

#custom-snip {
}

#clock {
}

#battery {
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
}

#network {
}

#network.disconnected {
    background-color: #ff0000;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-media {
    background-color: #66cc99;
    min-width: 100px;
}

#temperature {
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
